$fontWeightSemiBold: 600;
$fontWeightMediumd: 500;
$fontWeightRegular: 400;
$fontSize1: 26px;
$fontSize2: 20px;
$fontSize3: 18px;
$fontSize4: 14px;
$colorGrey: #B0BAC3;
$colorDarkGrey: #7C838A;
$colorLightYellow: #F9ED32;
$colorBlack: #000000;
$colorBlack50: rgba(0, 0, 0, 0.5);
$bckColorFormInput: rgba(176, 186, 195, 0.4);
$bckColorImg: #E6F3FF;
$bckColorContainer: #D9BD32;
$bckColorButton: #F9ED32;
$bckColorForm: white;